
body {
  font-family: 'Helvetica', sans-serif;
  background-color: #F7F7F7;
}

.topMargin {
  margin-top: 20px;
}


.imageSizing{
  background-position: center;
  background-size: cover;
}

.container {
  .row {
    .col-5{
      padding: 0;
    }
  }
}

.cardContainer{
  background-color: white;
  margin: 10px 10px 20px 10px;
}

.cardContent{
  padding: 20px 0;
  text-align: center;
}

a h5{
  text-decoration: none;
  text-transform: none;
  color: black;
}

.box-shadow-all {
  box-shadow: 0 0 5px #333;
}
